doctype 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
// [if gt IE 8] <!
html(class="no-js")
  // <![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title= title
    meta(name="description", content="")
    meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")
    meta(content="black", name="apple-mobile-web-app-status-bar-style")
    != CDN("/css/normalize.min.css")
    != CDN("/css/font.css")
    != CDN("/css/main.css")
    != CDN("/css/flexslider.css")
    != CDN("/css/sequence_slide.css")
    != CDN("/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")
  body
    div(id="wrap")
      //if lt IE 7
        p(class="chromeframe")Вы используете <strong>устаревший</strong> браузер. Пожалуйста, <a href="http://browsehappy.com/">обновите его</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируйте Google Chrome Frame</a>.
      div(class="header-container")
        header(class="wrapper clearfix")
          div(id="header")                			
            a(href="/", class="logo") Moonu.Ru
            ul(class="menu", id="headnav")
              li(class="feat")
                a(href="index.html#") Вход
              li
                a(href="about.html", target="_self") Демо
              li(class="last")
                a(href="mailto:me@sovechkin.com") Контакты
            div(class="prevNext")
              img(class="prev", src="/img/prev.png", alt="prev")
              img(class="next", src="/img/next.png", alt="next")
            div(id="sequence")
              ul
                li
                  h2(class="title five") Lemon croissant ice cream cotton candy.
                  div(class="subtitle five") Sweet candy canes pie. Sesame snaps chocolate cake rocky road. Applecake candy canes wafer croissant candy canes. Gingerbread powder sweet cupcake tootsie roll donuts.
                  img(class="slide five", src="/img/slide5.png", alt="iPad Min")
                li
                  h2(class="title four") Lemon croissant ice cream cotton candy.
                  div(class="subtitle four") Sweet candy canes pie. Sesame snaps chocolate cake rocky road. Apple cake candy canes wafer croissant candy canes jelly beans gummy bears lollie.
                  img(class="slide four", src="/img/slide4.png", alt="iPad Mini in hand")
                li
                  h2(class="title animate-in one") Lemon croissant ice cream cotton candy.
                  div(class="subtitle animate-in one") Caramels sweet gingerbread candy sweet candy canes pie. Sesame snaps jelly beans chocolate cake rocky road croissant candy canes.
                  img(class="slide one animate-in", src="/img/slide1.png", alt="iPhone 5 in hand")
            ul(id="nav")
              li
                span
              li
                span
              li
                span
      div(class="footer-container")
        footer(class="wrapper clearfix")
          h1
            a(href="index.html", class="logofoot") Moonu
          ul
            li
              a(href="http://habrahabr.ru/post/") ХабраХабр
            li
              a(href="https://github.com/pomeo/moonu.ru") Github
            li
              a(href="#contacts") Контакты
    != CDN("/js/vendor/jquery-1.9.0.min.js")
    != CDN("/js/jquery.pagescroller.lite.js")
    != CDN("/js/jquery.flexslider-min.js")
    != CDN("/js/sequence.jquery-min.js")
    != CDN("/js/main.js")
    script
      var _gaq=[['_setAccount','UA-3260762-23'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));